@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
  padding: 0;
  margin: 0;
}

.main__section__form__server-error, .main__section__form__agree-privacy__input-error, .main__section__form__password-error, .main__section__form__password-confirm-error, .main__section__form__last-name-error, .main__section__form__first-name-error {
  display: none;
  margin-block-start: 5px;
  color: crimson;
}

.main__section__form__auth-box, .main__section__form__name-box, .main {
  display: flex;
}

.main__section__form__auth-box {
  align-items: center;
}

.main__section__form__auth-box {
  justify-content: space-evenly;
}

body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

.main__section {
  width: 50%;
  height: 100%;
}
.main__section--right {
  position: fixed;
  right: 0;
}
.main__section__form {
  width: 60%;
  margin: 215px auto;
  text-align: center;
}
.main__section__form--signup {
  display: none;
}
.main__section__form__header {
  color: #2A41CB;
}
.main__section__form__paragraph {
  font-size: 14px;
}
.main__section__form__name-box {
  height: 64px;
  gap: 16px;
  margin-block-end: 16px;
}
.main__section__form__name-box__item {
  width: 50%;
  border: 0px;
  border-radius: 5px;
  background-color: #F5F6F8;
  padding-inline-start: 24px;
}
.main__section__form__name-box__item::placeholder {
  color: #848A8D;
  font-weight: 600;
}
.main__section__form__auth-box {
  background-color: #F5F6F8;
  height: 63px;
  border-radius: 5px;
  margin-block-end: 40px;
}
.main__section__form__auth-box__link {
  height: 55px;
  display: block;
  width: 48%;
  font-size: 20px;
  text-decoration: none;
  padding-block-start: 17px;
}
.main__section__form__auth-box__link--active {
  background-color: white;
  border-radius: 5px;
  color: black;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1607843137);
}
.main__section__form__auth-box__link--deactive {
  color: #848A8D;
}
.main__section__form__email-box {
  position: relative;
}
.main__section__form__email-box__icon {
  position: absolute;
  top: 30%;
  right: 9%;
}
.main__section__form__password-box {
  position: relative;
  margin-block-end: 72px;
}
.main__section__form__password-box--small {
  margin-block-end: 16px;
}
.main__section__form__icon {
  position: absolute;
  top: 45%;
  right: 10%;
  cursor: pointer;
}
.main__section__form__icon--hide {
  display: none;
}
.main__section__form__input {
  display: block;
  height: 64px;
  width: 100%;
  background-color: #F5F6F8;
  border: 0px;
  border-radius: 5px;
  padding-inline-start: 24px;
}
.main__section__form__input::placeholder {
  color: #848A8D;
  font-weight: 600;
}
.main__section__form__input--email {
  margin-block-end: 16px;
}
.main__section__form__input--password {
  display: inline-block;
}
.main__section__form__input--submit {
  background-color: #2A41CB;
  box-shadow: 0px 6px 16px 2px rgba(42, 65, 203, 0.4);
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.main__section__form__agree-privacy {
  font-size: 14px;
  font-weight: 500;
  text-align: start;
  display: block;
  margin-block-end: 72px;
}
.main__section__form__agree-privacy span {
  color: #2A41CB;
}
.main__section__form__server-error {
  font-weight: 600;
  font-size: 18px;
}
.main__section__image {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=credential.css.map */